/* Global Variables */
/* colors */
/* Media query */
.navbar nav ul a:hover {
  background: transparent;
}

.navbar .header-search-wrapper {
  position: relative;
  display: inline-block;
  width: calc(100% - 600px);
  height: 40px;
  margin: 10px auto 0 100px;
  -webkit-transition: .3s ease all;
  transition: .3s ease all;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.navbar .header-search-wrapper i {
  font-size: 24px;
  line-height: 32px !important;
  position: absolute;
  top: 6px;
  left: 24px;
  -webkit-transition: color 200ms ease;
  transition: color 200ms ease;
  color: #969698;
}

.navbar .header-search-wrapper .header-search-input {
  font-size: 16px;
  font-weight: 400;
  display: block;
  width: 87%;
  height: 24px;
  padding: 8px 8px 8px 72px;
  -webkit-transition: all 200ms ease;
  transition: all 200ms ease;
  border: none;
  border-radius: 3px;
  outline: none;
  background: rgba(255, 255, 255, 0.3);
  -webkit-appearance: textfield;
  -moz-appearance: textfield;
  appearance: textfield;
  border: 1px solid rgba(230, 230, 230, 0.05);
  background: rgba(230, 230, 230, 0.3);
  color: #000;
}

.navbar .notification-badge {
  font-family: 'Muli', sans-serif;
  position: relative;
  top: -20px;
  right: 5px;
  margin: 0 -.8em;
  padding: 2px 5px;
  color: #fff;
  border-radius: 50%;
  background-color: #ff4081;
  -webkit-box-shadow: 0 0 10px 0 #ff4081;
  box-shadow: 0 0 10px 0 #ff4081;
  font-size: 13px;
  font-weight: 800;
}

.navbar ul .avatar-status {
  line-height: 50px;
  position: relative;
  display: inline-block;
  width: 31px;
  vertical-align: bottom;
  white-space: nowrap;
  border-radius: 50px;
}

.navbar ul .avatar-status img {
  width: 100%;
  max-width: 100%;
  height: auto;
  border: 0 none;
  border-radius: 1000px;
  background: #e6e6e6;
}

.navbar ul li, .navbar ul i {
  color: #969698;
}

.navbar ul li .dropdown-content, .navbar ul i .dropdown-content {
  max-width: 30%;
  min-width: 25%;
  top: 5em !important;
}

.navbar ul li .dropdown-content li, .navbar ul i .dropdown-content li {
  line-height: 1.5rem;
  clear: both;
  width: 100%;
  min-height: 50px;
  cursor: pointer;
  text-align: left;
  color: rgba(0, 0, 0, 0.87);
  font-size: 1rem;
  padding: 8px 16px;
}

.navbar ul li .dropdown-content li a, .navbar ul i .dropdown-content li a {
  font-size: 1.1rem;
  font-weight: 300;
  padding: 0;
}

.navbar ul li .dropdown-content li a span, .navbar ul i .dropdown-content li a span {
  font-size: 1.2rem;
  position: relative;
  top: 4px;
  display: inline-block;
  margin-right: 5px;
  padding: 6px;
  border-radius: 50%;
  color: #fff;
}

.navbar ul li .dropdown-content li a span:hover, .navbar ul i .dropdown-content li a span:hover {
  background: transparent;
}

.navbar ul li .dropdown-content li time, .navbar ul i .dropdown-content li time {
  font-size: .8rem;
  font-weight: 400;
  margin-left: 38px;
}

.navbar ul li .dropdown-content li.divider, .navbar ul i .dropdown-content li.divider {
  padding: 0;
  height: 1px;
  min-height: 0;
}

.navbar ul li #profile-dropdown, .navbar ul i #profile-dropdown {
  min-width: 15%;
  max-width: 25%;
}
/*# sourceMappingURL=header.component.css.map */