<header>
  <div class="navbar navbar-fixed">
      <nav class="white">
          <div class="nav-wrapper">
            <div class="header-search-wrapper hide-on-med-and-down"><i class="material-icons">search</i>
              <input class="header-search-input z-depth-2" type="text" name="Search" placeholder="Search">
            </div>
            <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons black-text">menu</i></a>
            
            <!--Right menus-->
            <ul class="right hide-on-med-and-down">
              <li>
                <a class="waves-effect waves-block waves-light notification-button dropdown-button" href="javascript:void(0);" data-activates="notifications-dropdown">
                    <i class="material-icons">notifications_none
                      <small class="notification-badge">5</small>
                    </i>
                </a>
                <ul class="dropdown-content" id="notifications-dropdown">
                  <li tabindex="0">
                    <h6>NOTIFICATIONS<span class="new badge">5</span></h6>
                  </li>
                  <li class="divider" ></li>
                  <li ><a class="grey-text text-darken-2" href="#!"><span class="material-icons icon-bg-circle cyan small">add_shopping_cart</span> A new order has been placed!</a>
                    <time class="media-meta" datetime="2015-06-12T20:50:48+08:00">2 hours ago</time>
                  </li>
                  <li><a class="grey-text text-darken-2" href="#!"><span class="material-icons icon-bg-circle red small">stars</span> Completed the task</a>
                    <time class="media-meta" datetime="2015-06-12T20:50:48+08:00">3 days ago</time>
                  </li>
                  <li><a class="grey-text text-darken-2" href="#!"><span class="material-icons icon-bg-circle teal small">settings</span> Settings updated</a>
                    <time class="media-meta" datetime="2015-06-12T20:50:48+08:00">4 days ago</time>
                  </li>
                  <li><a class="grey-text text-darken-2" href="#!"><span class="material-icons icon-bg-circle deep-orange small">today</span> Director meeting started</a>
                    <time class="media-meta" datetime="2015-06-12T20:50:48+08:00">6 days ago</time>
                  </li>
                  <li><a class="grey-text text-darken-2" href="#!"><span class="material-icons icon-bg-circle amber small">trending_up</span> Generate monthly report</a>
                    <time class="media-meta" datetime="2015-06-12T20:50:48+08:00">1 week ago</time>
                  </li>
                </ul>
              </li>
              <li>
                  <a class="waves-effect waves-block waves-light notification-button dropdown-button" href="javascript:void(0);" data-activates="profile-dropdown">
                    <span class="avatar-status avatar-online">
                      <img src="https://pbs.twimg.com/profile_images/1079706442763067392/wuaeGZnN_400x400.jpg" alt="avatar">
                    </span>
                  </a>
                 
                  <ul class="dropdown-content" id="profile-dropdown">
                      <li><a class="grey-text text-darken-1" href="#"><i class="material-icons">person_outline</i> Profile</a></li>
                      <li><a class="grey-text text-darken-1" href="#"><i class="material-icons">chat_bubble_outline</i> Chat</a></li>
                      <li><a class="grey-text text-darken-1" href="#"><i class="material-icons">help_outline</i> Help</a></li>
                      <li class="divider"></li>
                      <li><a class="grey-text text-darken-1" href="#"><i class="material-icons">lock_outline</i> Lock</a></li>
                      <li><a class="grey-text text-darken-1" href="#"><i class="material-icons">keyboard_tab</i> Logout</a></li>
                  </ul>
              </li>
              <li class="hide-on-large-only"><a class="waves-effect waves-block waves-light search-button" href="javascript:void(0);"><i class="material-icons">search</i></a></li>
            </ul>

           <!--Mobile-collapse-->
           <ul class="side-nav" id="mobile-demo">
              <li><a href="#">Sass</a></li>
              <li><a href="#">Javascript</a></li>
              <li><a href="#">Mobile</a></li>
            </ul>

          </div>
      </nav>
  </div>
</header>