<div class="row">
    <div class="col l12 m12 s12">
      <h4 class="white-text caption">Add a passenger</h4>
      <p class="grey-text text-lighten-2 mb_2em">
          Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.
      </p>
      <div class="card complete-card">
        <div class="card-header">
          <p>Passengers List
            <span class="right avatar-otr">
              <img src="../../../../assets/images/avatar.jpg" width="70" class="circle"/>
            </span>
          </p>
        </div>
        <div class="card-body">
           <form class="form-otr">
             <div class="row">
                <div class="input-field col l6 m12">
                    <input id="first_name" type="text" class="validate custom-input">
                    <label for="first_name" class="custom-label">First Name</label>
                </div>
                <div class="input-field col l6 m12">
                  <input id="last_name" type="text" class="validate custom-input">
                  <label for="last_name" class="custom-label">Last Name</label>
                </div>
             </div><!--row-->
             <div class="row">
                <div class="input-field col l6 m12">
                    <input id="email" type="email" class="validate custom-input">
                    <label for="email" class="custom-label">Email</label>
                </div>
                <div class="input-field col l6 m12">
                  <input id="c_number" type="number" class="validate custom-input">
                  <label for="c_number" class="custom-label">Contact Number</label>
                </div>
             </div><!--row-->
             <div class="row mb_2em">
                <div class="col l12 m12 pd0">
                    <div class="file-field input-field">
                      <div class="">
                        <!-- <span>File</span> -->
                        <input type="file" placeholder="">
                        <label class="l10">Upload Picture</label>
                      </div>
                      <div class="file-path-wrapper">
                        <input class="file-path validate" type="text">
                      </div>
                    </div>
                </div>
             </div><!--row-->
             <div class="row">
                <div class="col l6 m12">
                      <span>
                          <input class="with-gap" name="group1" type="radio" id="test1" />
                          <label for="test1">Male</label>
                      </span>&nbsp; 
                      <span>
                          <input class="with-gap" name="group1" type="radio" id="test2" />
                          <label for="test2">Female</label>
                      </span>&nbsp; 
                      <span>
                          <input class="with-gap" name="group1" type="radio" id="test3"  />
                          <label for="test3">Other</label>
                      </span>
                </div>
             </div><!--row-->
             <div class="input-field right-align">
               <button type="submit" class="btn btn-theme waves-effect waves-light">Submit</button>
             </div>
           </form>
        </div>
        <div class="card-footer">
          <a routerLink="/admin/user" class="theme-color">
            <i class="material-icons theme-color medium">person_outline</i>
            <span>View passengers</span>
          </a>
        </div>
      </div>
    </div>
  </div><!--row-->
  
