<div class="row">
  <div class="col l12 m12 s12">
    <h4 class="white-text caption">Add a Driver</h4>
    <p class="grey-text text-lighten-2 mb_2em">
        Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.
    </p>
    <div class="card complete-card">
      <div class="card-header">
        <p>Driver List</p>
      </div>
      <div class="card-body">
         <form class="form-otr">
           <div class="row">
              <div class="input-field col l6 m12">
                  <input id="first_name" type="text" class="validate">
                  <label for="first_name">Name</label>
              </div>
              <div class="input-field col l6 m12">
                <input id="email" type="email" class="validate">
                <label for="email">Email</label>
              </div>
           </div><!--row-->
           <div class="row">
              <div class="input-field col l6 m12">
                  <input id="number" type="number" class="validate">
                  <label for="number">Mobile</label>
              </div>
              <div class="input-field col l6 m12">
                <input id="vt" type="text" class="validate">
                <label for="vt">Vehicle Type</label>
              </div>
           </div><!--row-->
           <div class="row">
            <div class="input-field col l6 m12">
                <div class="file-field input-field">
                  <div class="btn">
                    <span>Vehicle Image</span>
                    <input type="file">
                  </div>
                  <div class="file-path-wrapper">
                    <input class="file-path validate" type="text">
                  </div>
                </div>
            </div>
            <div class="input-field col l6 m12">
              <input id="ss" type="text" class="validate">
              <label for="ss">Service Status</label>
            </div>
         </div><!--row-->
         <div class="row">
            <div class="input-field col l6 m12">
                <input id="as" type="number" class="validate">
                <label for="as">Application Status</label>
            </div>
            <div class="input-field col l6 m12">
              <input id="ci" type="text" class="validate">
              <label for="ci">Car Information</label>
            </div>
        </div><!--row-->
        <div class="row">
            <div class="input-field col l6 m12">
                <input id="ar" type="number" class="validate">
                <label for="ar">Average Rating</label>
            </div>
            <div class="input-field col l6 m12">
              <div class="file-field input-field">
                <div class="btn">
                  <span>Profile Image</span>
                  <input type="file">
                </div>
                <div class="file-path-wrapper">
                  <input class="file-path validate" type="text">
                </div>
              </div>
            </div>
        </div><!--row-->
        <div class="right-align">
          <button type="submit" class="btn btn-theme">Submit</button>
        </div>
         </form>
      </div>
      <!-- <div class="card-footer">
        <a href="/admin/" class="theme-color">
          <i class="material-icons theme-color medium">person_add</i>
          <span>Add passengers</span>
        </a>
      </div> -->
    </div>
  </div>
</div><!--row-->

