.dash-main-box{
    padding: 0;
    
    .main-bg{
        min-height: 150px;
        border-radius: 6px;
        display: inline-block;
        width: 100%;
        padding: 1em;

        .grey-text{
            margin: 5px 0;
        }
        .main-count{
            font-size: 30px;
            margin: 5px 0 0;
        }
        .main-count-icon {
            display: inline-block;
            background: #f1f1f1;
            border-radius: 50%;
            padding: 5px;
            width: 50px;
            height: 50px;
            text-align: center;
        
        }
    }
    
     .bg-one{
         background-image: url(../../../assets/images/gradient-bg.png);
         background-size: cover;
         padding: 3em 2em;

         p.flow-text{
            margin: 5px 0;
    
            + p{
                line-height: 30px;
            }
        }
     }
     .bg-two{
        background: linear-gradient(to right, #FAD961, #F76B1C);
        padding: 2em;
     }
     .bg-three{
        // background: linear-gradient(to right, #43E97B, #38F9D7);
     }
}