<div class="row">
  <div class="col l12 m12">
    <h4 class="white-text caption">Dashboard</h4>
    <p class="grey-text text-lighten-2 mb_2em">Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum</p>
    <div class="row center-align">
        <div class="col l6 m6 s12">
          <div class="card dash-main-box">
            <div class="bg-one main-bg center-align white-text">
                <svg style="width:44px;height:44px" viewBox="0 0 24 24">
                    <path fill="#ffffff" d="M22,12V20A2,2 0 0,1 20,22H4A2,2 0 0,1 2,20V12A1,1 0 0,1 1,11V8A2,2 0 0,1 3,6H6.17C6.06,5.69 6,5.35 6,5A3,3 0 0,1 9,2C10,2 10.88,2.5 11.43,3.24V3.23L12,4L12.57,3.23V3.24C13.12,2.5 14,2 15,2A3,3 0 0,1 18,5C18,5.35 17.94,5.69 17.83,6H21A2,2 0 0,1 23,8V11A1,1 0 0,1 22,12M4,20H11V12H4V20M20,20V12H13V20H20M9,4A1,1 0 0,0 8,5A1,1 0 0,0 9,6A1,1 0 0,0 10,5A1,1 0 0,0 9,4M15,4A1,1 0 0,0 14,5A1,1 0 0,0 15,6A1,1 0 0,0 16,5A1,1 0 0,0 15,4M3,8V10H11V8H3M13,8V10H21V8H13Z" />
                </svg>
                <p class="flow-text">Welcome Onboard,</p>
                <p>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum</p>
            </div>
          </div>
        </div>
       <div class="col l3 m6 s12">
         <div class="card dash-main-box">
            <div class="main-bg left-align">
              <i class="main-count-icon">
                  <svg style="width:34px;height:34px" viewBox="0 0 24 24">
                      <path fill="#5558da" d="M18,21L15,18L18,15V17H22V19H18V21M13,18C13,18.71 13.15,19.39 13.42,20H2V17C2,14.79 5.58,13 10,13C11,13 11.96,13.09 12.85,13.26C13.68,13.42 14.44,13.64 15.11,13.92C13.83,14.83 13,16.32 13,18M4,17V18H11C11,16.96 11.23,15.97 11.64,15.08L10,15C6.69,15 4,15.9 4,17M10,4A4,4 0 0,1 14,8A4,4 0 0,1 10,12A4,4 0 0,1 6,8A4,4 0 0,1 10,4M10,6A2,2 0 0,0 8,8A2,2 0 0,0 10,10A2,2 0 0,0 12,8A2,2 0 0,0 10,6Z" />
                  </svg>
              </i>
                <p class="main-count">92.5k</p>
                <p class="grey-text text-darken-2">
                  <b>Total Request</b>
                </p>
            </div>
         </div>
       </div>
       <div class="col l3 m6 s12">
        <div class="card dash-main-box">
            <div class="main-bg left-align">
              <i class="main-count-icon">
                  <svg style="width:34px;height:34px" viewBox="0 0 24 24">
                      <path fill="#5558da" d="M19,3H14.82C14.4,1.84 13.3,1 12,1C10.7,1 9.6,1.84 9.18,3H5A2,2 0 0,0 3,5V19A2,2 0 0,0 5,21H19A2,2 0 0,0 21,19V5A2,2 0 0,0 19,3M12,3A1,1 0 0,1 13,4A1,1 0 0,1 12,5A1,1 0 0,1 11,4A1,1 0 0,1 12,3M7,7H17V5H19V19H5V5H7V7M7.5,13.5L9,12L11,14L15.5,9.5L17,11L11,17L7.5,13.5Z" />
                  </svg>
              </i>
              
              <p class="main-count">42.5k</p>
                <p class="grey-text text-darken-2">
                  <b>Complete Request</b>
                </p>
            </div>
        </div>
      </div>
    </div><!--row-->
  </div>
</div><!--row-->
