/* Global Variables */
/* colors */
/* Media query */
.sidenav-main {
  width: 70px;
  position: fixed;
  z-index: 999;
  top: 0;
  height: 100%;
  -webkit-transition: .3s ease all;
  transition: .3s ease all;
  text-align: center;
}

.sidenav-main .brand-sidebar .logo-wrapper {
  font-size: 3rem;
  line-height: 17px !important;
  margin: 0;
  white-space: nowrap;
}

.sidenav-main .sidenav li {
  margin: 0 0 2.5em;
  -webkit-transition: all ease 0.5s;
  transition: all ease 0.5s;
}

.sidenav-main .sidenav li:hover {
  border-right: 2px solid #000;
}

.sidenav-main .sidenav li:hover i {
  color: #5c58da;
}

.sidenav-main .sidenav li i {
  font-size: 22px;
  line-height: 32px;
  color: #969698;
}
/*# sourceMappingURL=sidebar.component.css.map */