@import "../../../assets/sass/variables";


.sidenav-main{
    width: 70px;
    position: fixed;
    z-index: 999;
    top: 0;
    height: 100%;
    -webkit-transition: .3s ease all;
    -moz-transition: .3s ease all;
    -o-transition: .3s ease all;
    transition: .3s ease all;
    text-align: center;

    .brand-sidebar {

        .logo-wrapper{
            font-size: 3rem;
            line-height: 17px !important;
            margin: 0;
            white-space: nowrap;
        }
    }

    .sidenav{
        li{
            margin: 0 0 2.5em ;
            transition: all ease 0.5s;

            &:hover{
                border-right: 2px solid $black-color;

                i{
                    color: $theme-color;
                }
            }
            i{
                font-size: 22px;
                line-height: 32px;
                color: $navbar-shades;
            }
        }
    }
}



