<aside class="sidenav-main white z-depth-1">
  <div class="brand-sidebar">
      <a class="brand-logo darken-1" href="index.html">
        <img src="../../../app-assets/images/logo/materialize-logo-color.png" alt="">
      </a>
      <ul class="sidenav">
        <li>
          <a routerLink="/admin/dashboard">
            <i class="material-icons">dashboard</i>
          </a>
        </li>
        <li>
          <a href="#">
              <i class="material-icons">map</i>
          </a>
        </li>
        <li>
          <a routerLink="/admin/user">
              <i class="material-icons">supervisor_account</i>
          </a>
        </li>
        <li>
          <a routerLink="/admin/providerview">
              <i class="material-icons">local_taxi</i>
          </a>
        </li>
        <li>
          <a routerLink="/admin/transaction">
            <i class="material-icons">credit_card</i>
          </a>
        </li>
        <li>
          <a href="/admin/">
            <i class="material-icons">card_giftcard</i>
          </a>
        </li>

      </ul>
  </div><!--brand-->
</aside><!--sidenav-main-->