<div class="row">
    <div class="col l12 m12 s12">
      <h4 class="white-text caption">Add a passenger</h4>
      <p class="grey-text text-lighten-2 mb_2em">
          Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.
      </p>
      <div class="card complete-card">
        <div class="card-header">
          <p>Passengers List</p>
        </div>
        <div class="card-body">
           <form class="form-otr">
             <div class="row">
                <div class="input-field col l6 m12">
                    <input id="first_name" type="text" class="validate">
                    <label for="first_name">First Name</label>
                </div>
                <div class="input-field col l6 m12">
                  <input id="last_name" type="text" class="validate">
                  <label for="last_name">Last Name</label>
                </div>
             </div><!--row-->
             <div class="row">
                <div class="input-field col l6 m12">
                    <input id="email" type="email" class="validate">
                    <label for="email">Email</label>
                </div>
                <div class="input-field col l6 m12">
                  <input id="c_number" type="number" class="validate">
                  <label for="c_number">Contact Number</label>
                </div>
             </div><!--row-->
           </form>
        </div>
        <div class="card-footer">
          <a href="/admin/" class="theme-color">
            <i class="material-icons theme-color medium">person_add</i>
            <span>Add passengers</span>
          </a>
        </div>
      </div>
    </div>
  </div><!--row-->
  
