<div class="row">
    <div class="col l12 m12 s12">
      <h4 class="white-text caption">View History</h4>
      <p class="grey-text text-lighten-2 mb_2em">Here you will see the list of all Passengers who have used your service so far. The list includes passengers who registered via. the Mobile apps & passengers to whom Taxi's have been manually dispatched as well.</p>
      <div class="card complete-card">
        <div class="card-header">
          <p>History</p>
        </div>
        <div class="card-body">
            <div class="table-otr">
                <table  class="info-data-table table " >
                    <thead>
                        <tr>
                            <th>ID</th>
                              <th>Name</th>
                              <th>Email</th>
                              <th>Mobile</th>
                              <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                          
                    </tbody>
                  </table>
            </div>
        </div>
        
      </div>
    </div>
  </div><!--row-->
  
