<div class="row">
    <div class="col l12 m12 s12">
      <h4 class="white-text caption">Update Password</h4>
      <p class="grey-text text-lighten-2 mb_2em">
          Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.
      </p>
      <div class="card complete-card">
        <div class="card-header">
          <p>Password
          </p>
        </div>
        <div class="card-body">
           <form class="form-otr">
             <div class="row">
                <div class="input-field col l6 m12">
                    <input id="o_pass" type="password" class="validate">
                    <label for="o_pass">Old Password</label>
                </div>
                <div class="input-field col l6 m12">
                  <input id="n_pass" type="password" class="validate">
                  <label for="n_pass">New Password</label>
                </div>
             </div><!--row-->
             <div class="row">
                <div class="input-field col l12 m12">
                    <input id="password" type="password" class="validate">
                    <label for="password"> Confirm Password</label>
                </div>
             </div><!--row-->
             <div class="input-field right-align">
               <button type="submit" class="btn btn-theme waves-effect waves-light">Update Now</button>
             </div>
           </form>
        </div>
      </div>
    </div>
  </div><!--row-->
  
