<!--main-->
<main>
    <!--Sidebar-->
    <app-sidebar></app-sidebar>
    <!--Layout-main--->
    <div id="main">
        <!--Header-->
        <app-header></app-header>
        <!--Header-->

        <!--main-core-->
        <div class="main-core">
            <div class="row">
                <div class="content-wrapper-before purple"></div>
                <!--Router-outlet-->
                <router-outlet></router-outlet>
            </div>
        </div>
        <!--main-core-->
    </div>
</main>
<!--main-->