<div class="row">
    <div class="col l12 m12 s12">
      <h4 class="white-text caption">View all Drivers</h4>
      <p class="grey-text text-lighten-2 mb_2em">Here you will see the list of all Drivers who has given service so far.
       </p>
      <div class="card complete-card">
        <div class="card-header">
          <p>Passengers List</p>
        </div>
        <div class="card-body">
            <div class="table-otr">
                <table  class="info-data-table table " >
                    <thead>
                        <tr>
                              <th>ID</th>
                              <th>Name</th>
                              <th>Email</th>
                              <th>Mobile</th>
                              <th>Vehicle Type</th>
                              <th>Vehicle Image</th>
                              <th>Service Status</th>
                              <th>Application Status</th>
                              <th>Car Information</th>
                              <th>Average Rating</th>
                              <th>Profile Image</th>
                              <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                          <tr>
                            <td>945</td>
                            <td>Jhonny</td>
                            <td>jhonny@gmail.com</td>
                            <td>8943245234</td>
                            <td>SUV</td>
                            <td>
                              <img src="http://pngimg.com/uploads/acura/acura_PNG129.png" width="30" />
                            </td>
                            <td>
                              Available
                            </td>
                            <td>
                              Approved
                            </td>
                            <td>
                              KA01 JQ 3241, White, Honda
                            </td>
                            <td>
                              <span class="badge ">4.5</span>
                            </td>
                            <td class="center-align">
                               <img src="https://tinyfac.es/data/avatars/475605E3-69C5-4D2B-8727-61B7BB8C4699-500w.jpeg" width="40"  class="circle" />
                            </td>
                            <td>
                              <a href="#" class="action-icons-anchor">
                                <i class="material-icons grey-text text-darken-1 action-icons tooltipped" data-position="top" data-delay="50" data-tooltip="Delete">delete_sweep</i>
                              </a>
                              <a routerLink="/admin/providerdetail" class="action-icons-anchor">
                                <i class="material-icons grey-text text-darken-1 action-icons tooltipped" data-position="top" data-delay="50" data-tooltip="View Driver">perm_identity</i>
                              </a>
                            </td>
                          </tr>
                          <tr>
                            <td>945</td>
                            <td>Jhonny</td>
                            <td>jhonny@gmail.com</td>
                            <td>8943245234</td>
                            <td>SUV</td>
                            <td>
                              <img src="http://pngimg.com/uploads/acura/acura_PNG129.png" width="30" />
                            </td>
                            <td>
                              Available
                            </td>
                            <td>
                              Approved
                            </td>
                            <td>
                              KA01 JQ 3241, White, Honda
                            </td>
                            <td>
                              <span class="badge ">4.5</span>
                            </td>
                            <td class="center-align">
                               <img src="https://tinyfac.es/data/avatars/475605E3-69C5-4D2B-8727-61B7BB8C4699-500w.jpeg" width="40"  class="circle" />
                            </td>
                            <td>
                              <a href="#" class="action-icons-anchor">
                                <i class="material-icons grey-text text-darken-1 action-icons tooltipped" data-position="top" data-delay="50" data-tooltip="Delete">delete_sweep</i>
                              </a>
                              <a routerLink="/admin/providerdetail" class="action-icons-anchor">
                                <i class="material-icons grey-text text-darken-1 action-icons tooltipped" data-position="top" data-delay="50" data-tooltip="View Driver">perm_identity</i>
                              </a>
                            </td>
                          </tr>
                          <tr>
                            <td>945</td>
                            <td>Jhonny</td>
                            <td>jhonny@gmail.com</td>
                            <td>8943245234</td>
                            <td>SUV</td>
                            <td>
                              <img src="http://pngimg.com/uploads/acura/acura_PNG129.png" width="30" />
                            </td>
                            <td>
                              Available
                            </td>
                            <td>
                              Approved
                            </td>
                            <td>
                              KA01 JQ 3241, White, Honda
                            </td>
                            <td>
                              <span class="badge ">4.5</span>
                            </td>
                            <td class="center-align">
                               <img src="https://tinyfac.es/data/avatars/475605E3-69C5-4D2B-8727-61B7BB8C4699-500w.jpeg" width="40"  class="circle" />
                            </td>
                            <td>
                              <a href="#" class="action-icons-anchor">
                                <i class="material-icons grey-text text-darken-1 action-icons tooltipped" data-position="top" data-delay="50" data-tooltip="Delete">delete_sweep</i>
                              </a>
                              <a routerLink="/admin/providerdetail" class="action-icons-anchor">
                                <i class="material-icons grey-text text-darken-1 action-icons tooltipped" data-position="top" data-delay="50" data-tooltip="View Driver">perm_identity</i>
                              </a>
                            </td>
                          </tr>
                    </tbody>
                  </table>
            </div>
        </div>
        <div class="card-footer">
          <a href="/admin/provideredit" class="theme-color">
            <i class="material-icons theme-color medium">person_add</i>
            <span>Add Drivers</span>
          </a>
        </div>
      </div>
    </div>
  </div><!--row-->
  
