<div class="row">
  <div class="col l12 m12 s12">
    <h4 class="white-text caption">View Driver Info</h4>
    <p class="grey-text text-lighten-2 mb_2em">
        Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.
    </p>
    <div class="card complete-card">
      <div class="card-header">
        <p>Driver List
          <span class="right avatar-otr">
            <img src="../../../../assets/images/avatar.jpg" width="70" class="circle"/>
          </span>
        </p>
      </div>
      <div class="card-body">
         <form class="form-otr">
            <div class="row">
              <div class="col s12 m6 l4">
                <p><b>Name</b></p>
                <p>Jhonny</p>
              </div>
              <div class="col s12 m6 l4">
                <p><b>Email</b></p>
                <p>jhonny@gmail.com</p>
              </div>
              <div class="col s12 m6 l4">
                <p><b>Mobile</b></p>
                <p>84934232422</p>
              </div>
            </div><!--row-->
            <hr class="custom-ruler">
            <div class="row">
              <div class="col s12 m6 l4">
                <p><b>Vehicle Type</b></p>
                <p>SUV</p>
              </div>
              <div class="col s12 m6 l4">
                <p><b>Vehicle Image</b></p>
                <p>
                  <img src="http://pngimg.com/uploads/acura/acura_PNG129.png" width="30" />
                </p>
              </div>
              <div class="col s12 m6 l4">
                <p><b>Service Status</b></p>
                <p> Available</p>
              </div>
            </div><!--row-->
            <hr class="custom-ruler">
            <div class="row">
              <div class="col s12 m6 l4">
                <p><b>Application Status</b></p>
                <p>Approved</p>
              </div>
              <div class="col s12 m6 l4">
                <p><b>Car Information</b></p>
                <p>
                  KA01 JQ 3241, White, Honda
                </p>
              </div>
              <div class="col s12 m6 l4">
                <p><b>Average Rating</b></p>
                <p> 
                  <span class="badge ">4.5</span>
                </p>
              </div>
            </div><!--row-->
            <hr class="custom-ruler">
           <div class="input-field right-align">
             <button type="submit" class="btn btn-theme waves-effect waves-light">Submit</button>
           </div>
         </form>
      </div>
      <!-- <div class="card-footer">
        <a routerLink="/admin/user" class="theme-color">
          <i class="material-icons theme-color medium">person_outline</i>
          <span>View passengers</span>
        </a>
      </div> -->
    </div>
  </div>
</div><!--row-->


