<div class="row">
  <div class="col l12 m12 s12">
    <h4 class="white-text caption">View all Users</h4>
    <p class="grey-text text-lighten-2 mb_2em">Here you will see the list of all Passengers who have used your service
      so far. The list includes passengers who registered via. the Mobile apps & passengers to whom Taxi's have been
      manually dispatched as well.</p>
    <div class="card complete-card">
      <div class="card-header">
        <p>User List</p>
      </div>
      <div class="card-body">
        <div class="table-otr">
          <table class="info-data-table table" appDatatable>
            <thead>
              <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Email</th>
                <th>Mobile</th>
                <th>Roles</th>
                <th>Action</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let user of users;let i=index;">
                <td>{{i+1}}</td>
                <td>{{user.name}}</td>
                <td>{{user.email || 'N/A'}}</td>
                <td>{{user.mobile_country_code}} {{user.mobile_number}}</td>
                <td>{{user.roles}}</td>
                <td>
                  <a href="/admin/" class="action-icons-anchor">
                    <i class="material-icons grey-text text-darken-1 action-icons tooltipped" data-position="top"
                      data-delay="50" data-tooltip="Delete">delete_sweep</i>
                  </a>
                  <a routerLink="/admin/history" class="action-icons-anchor">
                    <i class="material-icons grey-text text-darken-1 action-icons tooltipped" data-position="top"
                      data-delay="50" data-tooltip="View History">history</i>
                  </a>
                  <a routerLink="/admin/password" class="action-icons-anchor">
                    <i class="material-icons grey-text text-darken-1 action-icons tooltipped" data-position="top"
                      data-delay="50" data-tooltip="Update Password">lock_outline</i>
                  </a>
                  <a routerLink="/admin/" class="action-icons-anchor">
                    <i class="material-icons grey-text text-darken-1 action-icons tooltipped" data-position="top"
                      data-delay="50" data-tooltip="View User">perm_identity</i>
                  </a>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div class="card-footer">
        <a routerLink="/admin/adduser" class="theme-color">
          <i class="material-icons theme-color medium">person_add</i>
          <span>Add User</span>
        </a>
      </div>
    </div>
  </div>
</div>
<!--row-->