/* Global Variables */
/* colors */
/* Media query */
/* Global Variables */
/* colors */
/* Media query */
@media only screen and (max-width: 600px) {
  nav .button-collapse {
    position: absolute;
    right: 0;
  }
}

#main {
  position: relative;
  height: 100%;
  width: 100%;
}

#main .main-core {
  padding: 2em 1em 1em 89px;
  height: 100%;
}

#main .content-wrapper-before {
  position: absolute;
  z-index: -1;
  top: 64px;
  left: 0;
  width: 100%;
  height: 200px;
  -webkit-transition: .3s ease all;
  transition: .3s ease all;
  background: #8E2DE2;
  /* fallback for old browsers */
  /* Chrome 10-25, Safari 5.1-6 */
  background: -webkit-gradient(linear, left top, right top, from(#4A00E0), to(#8E2DE2));
  background: linear-gradient(to right, #4A00E0, #8E2DE2);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
/*# sourceMappingURL=app.component.css.map */