<div class="login-otr">
  <div class="row">
    <div class="left-box">
      <div class="login-img center-align">
        <img src="../../../assets/images/OBJECTS@2x.png" width="520" />
      </div>
    </div>
    <div class="right-box">
      <div class="login-content">
        <h5>Welcome to the family..</h5>
        <p class="caption grey-text text-darken-1">Sed ut perspiciatis unde omnis iste natus error sit voluptatem
          accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi
          architecto beatae vitae dicta sunt explicabo.</p>
        <div class="">
          <form [formGroup]="myForm">
            <div class="">
              <label>Email</label>
              <input value="" id="email" formControlName="email" type="email" class="validate">
              <span class="red-text" *ngIf="email.dirty && !email.valid">Invalid Email</span>
            </div>
            <div class="">
              <label>Password</label>
              <input value="" id="password" formControlName="password" type="password" class="validate">
              <span class="red-text" *ngIf="password.dirty && !password.valid">Invalid Password</span>
            </div>
            <div class="">
              <re-captcha (captchaExpired)="captchaExpired()" (captchaResponse)="handleCorrectCaptcha($event)"
                site_key="{{sitekey}}"></re-captcha>
            </div>
            <div class="input-field">
              <button [disabled]="!canSubmit" class="btn btn-theme" type="button" (click)="doLogin()"
                name="action">Login
                <i class="material-icons right"></i>
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
    <div class="align-box"></div>
  </div>
  <!--row-->
</div>