@import '../../../assets/sass/variables';
@import '../../../assets/sass/mediaquery';

.login-otr{
    height: 100%;
    background: #63ab9e12;

    h5{
        font-weight: 600;
        +p{
            line-height: 25px;
        }
    }
    .row{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        height: 100vh;
        padding: 0 1em;
    }
    .left-box{
        flex: 50%;
    }
    .right-box{
        flex: 33%;
    }
    .align-box{
        flex: 17%;
    }
    .social-media{
        li{
            display: $inline-block;
            margin: 0 9px;

            a{
                background: $white-color;
                border-radius: 50%;
                text-align: center;
                display: inline-block;
                width: 100%;
                padding: 6px 6px 0;
                -webkit-box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 1px 5px 0 rgba(0,0,0,0.12), 0 3px 1px -2px rgba(0,0,0,0.2);
                box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 1px 5px 0 rgba(0,0,0,0.12), 0 3px 1px -2px rgba(0,0,0,0.2);
                transition: all ease 0.5s;

                &:hover{
                    -webkit-box-shadow: 0 4px 5px 0 rgba(0,0,0,0.14), 0 1px 10px 0 rgba(0,0,0,0.12), 0 2px 4px -1px rgba(0,0,0,0.3);
                    box-shadow: 0 4px 5px 0 rgba(0,0,0,0.14), 0 1px 10px 0 rgba(0,0,0,0.12), 0 2px 4px -1px rgba(0,0,0,0.3);
                }
            }
            .fb-bg{
                background: $fb-bg;
            }
            .twitter-bg{
                background: $twitter-bg;
            }
        }
    }
    .btn-theme{
        border-radius: 3px;
        height: auto;
        font-size: 13px;
    }
}