<div class="row">
    <div class="col l12 m12 s12">
      <h4 class="white-text caption">Payment Details</h4>
      <p class="grey-text text-lighten-2 mb_2em">Listed here are all the Transactions & Payments made by each passenger for the rides undertaken by them.</p>
      <div class="card">
        <div class="table-otr">
            <table  class="info-data-table table " >
                <thead>
                    <tr>
                        <th>Request Id</th>
                          <th>Transation Id</th>
                          <th>Paid by</th>
                          <th>Paid to</th>
                          <th>Total Amount</th>
                          <th>Payment Mode</th>
                          <th>Date &amp; Time</th>
                          <th>Payment Status</th>
                    </tr>
                </thead>
                <tbody>
                      <tr>
                          <td>7960</td>
                          <td>5c8df40ea3230</td>
                          <td>Jhon</td>
                          <td>Michel</td>
                          <td>S$173.27</td>
                          <td>cod</td>
                          <td>2019-03-17 07:15:26</td>
                          <td>
                              <span class="badge">Paid</span>
                          </td>
                      </tr>
                      <tr>
                          <td>7960</td>
                          <td>5c8df40ea3230</td>
                          <td>Jhon</td>
                          <td>Michel</td>
                          <td>S$173.27</td>
                          <td>cod</td>
                          <td>2019-03-17 07:15:26</td>
                          <td>
                              <span class="badge">Paid</span>
                          </td>
                      </tr>
                      <tr>
                          <td>7960</td>
                          <td>5c8df40ea3230</td>
                          <td>Jhon</td>
                          <td>Michel</td>
                          <td>S$173.27</td>
                          <td>cod</td>
                          <td>2019-03-17 07:15:26</td>
                          <td>
                              <span class="badge">Paid</span>
                          </td>
                      </tr>
                      <tr>
                          <td>7960</td>
                          <td>5c8df40ea3230</td>
                          <td>Jhon</td>
                          <td>Michel</td>
                          <td>S$173.27</td>
                          <td>cod</td>
                          <td>2019-03-17 07:15:26</td>
                          <td>
                              <span class="badge">Paid</span>
                          </td>
                      </tr>
                </tbody>
              </table>
        </div>
      </div>
    </div>
  </div><!--row-->
  