@import "variables";

@media only screen and (max-width: $breakpoint-mobile){
    nav{

        .button-collapse{
            position: $absolute;
            right: 0;
        }

    }
   
    .sidenav-main{
        display: none;
    }
    #main{
        .main-core{
            padding: 1em !important;
        }
        .content-wrapper-before{
            top: 56px;
            height: 215px;
        }
        .content-wrapper-before{
            top: 55px;
            height: 250px;
        }
    } 
}