/* Global Variables */
$global-font:  'Poppins', sans-serif;

/* colors */
$white-color: #fff;
$black-color: #000;
$body-color: #f4f5fa;
$darkshadeone: #333333;
$darkshadetwo: #f5f5f5;
$navbar-shades: #969698;
$inline-block: inline-block;
$relative: relative;
$absolute: absolute;
$theme-color: #5c58da;
$fb-bg: #4267b2;
$twitter-bg: #4fa5eb;

/* Media query */

$breakpoint-tablet: 767px;
$breakpoint-mobile: 600px;

