/* You can add global styles to this file, and also import other style files */
/* Global Variables */
/* colors */
/* Media query */
/* Global Variables */
/* colors */
/* Media query */
@media only screen and (max-width: 600px) {
  nav .button-collapse {
    position: absolute;
    right: 0;
  }
}

body {
  font-family: 'Poppins', sans-serif;
}

.row {
  margin-bottom: 0;
}

.theme-color {
  color: #5c58da;
}

.theme-color:hover, .theme-color:active, .theme-color:focus, .theme-color:visited {
  color: #5c58da;
}

.card {
  padding: 1em;
  border-radius: 6px;
}

.card .form-otr {
  padding: 2em;
}

h4.caption {
  font-size: 25px;
  line-height: 37px;
}

span.badge.new,
span.badge {
  font-weight: 300;
  font-size: 11px;
  color: #333;
  border: 2px solid #5c58da;
  border-radius: 3px;
  padding: 5px;
  background: #f5f5f5;
  text-transform: capitalize;
  float: none;
  width: 100px;
  display: inline-block;
  height: auto;
  -webkit-transition: all ease 0.5s;
  transition: all ease 0.5s;
  cursor: pointer;
}

span.badge.new:hover,
span.badge:hover {
  opacity: .8;
}

.btn-theme {
  background: #5c58da;
  height: 40px;
  border-radius: 30px;
  text-transform: capitalize;
}

.btn-theme:hover, .btn-theme:active, .btn-theme:focus, .btn-theme:visited {
  background: #5c58da;
}

/* Table */
table {
  font-size: 14px;
}

table.dataTable thead > tr > th.sorting_asc, table.dataTable thead > tr > th.sorting_desc, table.dataTable thead > tr > th.sorting, table.dataTable thead > tr > td.sorting_asc, table.dataTable thead > tr > td.sorting_desc, table.dataTable thead > tr > td.sorting {
  color: #000000;
  font-weight: 600;
}

div.dataTables_wrapper div.dataTables_info {
  font-size: 14px;
  color: #999999;
}

.table-otr {
  padding: 1em;
  white-space: nowrap;
  overflow-x: auto;
}

.table td {
  padding: 1rem !important;
  vertical-align: middle;
  border-top: 1px solid #f1f1f1;
  border-radius: 0;
}

.table th {
  padding: 1rem !important;
  vertical-align: middle;
  border-radius: 0;
}

.table .action-icons-anchor {
  margin: 0 7px 0 0;
  display: inline-block;
}

.mb_2em {
  margin-bottom: 2em;
}

.pd0 {
  padding: 0 !important;
}

.l10 {
  left: 10px !important;
}

input {
  width: 100%;
  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;    /* Firefox, other Gecko */
  box-sizing: border-box;         /* Opera/IE 8+ */
}

input:not([type]):focus:not([readonly]), input[type=text]:not(.browser-default):focus:not([readonly]), input[type=password]:not(.browser-default):focus:not([readonly]), input[type=email]:not(.browser-default):focus:not([readonly]), input[type=url]:not(.browser-default):focus:not([readonly]), input[type=time]:not(.browser-default):focus:not([readonly]), input[type=date]:not(.browser-default):focus:not([readonly]), input[type=datetime]:not(.browser-default):focus:not([readonly]), input[type=datetime-local]:not(.browser-default):focus:not([readonly]), input[type=tel]:not(.browser-default):focus:not([readonly]), input[type=number]:not(.browser-default):focus:not([readonly]), input[type=search]:not(.browser-default):focus:not([readonly]), textarea.materialize-textarea:focus:not([readonly]) {
  border-bottom: 1px solid #5c58da;
  -webkit-box-shadow: 0 1px 0 0 #5c58da;
  box-shadow: 0 1px 0 0 #5c58da;
}

input:not([type]):focus:not([readonly]) + label, input[type=text]:not(.browser-default):focus:not([readonly]) + label, input[type=password]:not(.browser-default):focus:not([readonly]) + label, input[type=email]:not(.browser-default):focus:not([readonly]) + label, input[type=url]:not(.browser-default):focus:not([readonly]) + label, input[type=time]:not(.browser-default):focus:not([readonly]) + label, input[type=date]:not(.browser-default):focus:not([readonly]) + label, input[type=datetime]:not(.browser-default):focus:not([readonly]) + label, input[type=datetime-local]:not(.browser-default):focus:not([readonly]) + label, input[type=tel]:not(.browser-default):focus:not([readonly]) + label, input[type=number]:not(.browser-default):focus:not([readonly]) + label, input[type=search]:not(.browser-default):focus:not([readonly]) + label, textarea.materialize-textarea:focus:not([readonly]) + label {
  color: #000;
}

[type="radio"]:checked + label:after, [type="radio"].with-gap:checked + label:after {
  background-color: #5c58da;
}

[type="radio"]:checked + label:after, [type="radio"].with-gap:checked + label:before, [type="radio"].with-gap:checked + label:after {
  border: 2px solid #5c58da;
}

.pagination li.active {
  background-color: #5c58da;
  padding: 0 5px;
}

.pagination li.active a {
  font-size: 14px;
}

.pagination li.disabled a {
  font-size: 14px;
}

.complete-card {
  padding: 0;
}

.complete-card .card-header {
  background: #f5f5f5;
  padding: 1.5em;
  border-top-right-radius: 7px;
  border-top-left-radius: 7px;
  position: relative;
}

.complete-card .card-header .avatar-otr {
  position: absolute;
  display: inline-block;
  right: 10px;
  top: -14px;
}

.complete-card .card-header .avatar-otr img {
  -webkit-transition: all ease 0.5s;
  transition: all ease 0.5s;
}

.complete-card .card-header .avatar-otr img:hover {
  -webkit-box-shadow: 0 4px 5px 0 rgba(84, 88, 218, 0.37), 0 1px 10px 0 rgba(83, 88, 217, 0.45), 0 2px 4px -1px rgba(89, 88, 218, 0.42);
          box-shadow: 0 4px 5px 0 rgba(84, 88, 218, 0.37), 0 1px 10px 0 rgba(83, 88, 217, 0.45), 0 2px 4px -1px rgba(89, 88, 218, 0.42);
}

.complete-card .card-header p {
  margin: 0;
  font-size: 16px;
  line-height: 30px;
}

.complete-card .card-footer {
  background: #f5f5f5;
  padding: 1.5em;
  position: relative;
}

.complete-card .card-footer a.theme-color {
  display: inline-block;
}

.complete-card .card-footer a.theme-color i {
  font-size: 30px;
  line-height: 40px;
}

.complete-card .card-footer a.theme-color span {
  position: absolute;
  display: inline-block;
  margin: 9px 0 0 9px;
  color: #000;
}

/*# sourceMappingURL=styles.css.map */