/* You can add global styles to this file, and also import other style files */

@import "variables";
@import "mediaquery";

#main{
    position: $relative;
    height: 100%;
    width: 100%;

    .main-core{
        padding : 2em 1em 1em 89px;
        height: 100%;
    }
    .content-wrapper-before{
        position: $absolute;
        z-index: -1;
        top: 64px;
        left: 0;
        width: 100%;
        height: 200px;
        -webkit-transition: .3s ease all;
        -moz-transition: .3s ease all;
        -o-transition: .3s ease all;
        transition: .3s ease all;
        background: #8E2DE2;  /* fallback for old browsers */
        background: -webkit-linear-gradient(to right, #4A00E0, #8E2DE2);  /* Chrome 10-25, Safari 5.1-6 */
        background: linear-gradient(to right, #4A00E0, #8E2DE2); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    }
}

body{
    font-family: 'Poppins', sans-serif;
}
.row{
    margin-bottom: 0;
}
.theme-color{
    color: $theme-color;

    &:hover,&:active,
    &:focus,&:visited{
    color: $theme-color;
    }
}
.card{
    padding:1em;
    border-radius: 6px;

    .form-otr{
        padding: 2em;
    }
}
h4.caption{
    font-size: 25px;
    line-height: 37px;
}
span.badge.new,
span.badge{
    font-weight: 300;
    font-size: 11px;
    color: #333;
    border: 2px solid $theme-color;
    border-radius: 3px;
    padding: 5px;
    background: #f5f5f5;
    text-transform: capitalize;
    float: none;
    width: 100px;
    display: $inline-block;
    height: auto;
    transition: all ease 0.5s;
    cursor: pointer;

    &:hover{
        opacity: .8;
    }
}
.btn-theme{
    background: $theme-color;
    height: 40px;
    border-radius: 30px;
    text-transform: capitalize;

    &:hover, &:active, &:focus, &:visited{
        background: $theme-color;
    }
}
/* Table */
table {
    font-size: 14px;
}

table.dataTable thead>tr>th.sorting_asc, table.dataTable thead>tr>th.sorting_desc, table.dataTable thead>tr>th.sorting, table.dataTable thead>tr>td.sorting_asc, table.dataTable thead>tr>td.sorting_desc, table.dataTable thead>tr>td.sorting {
    color: #000000;
    font-weight: 600;
}
div.dataTables_wrapper div.dataTables_info{
    font-size: 14px;
    color: #999999;
}
.table-otr {
    padding: 1em;
    white-space: nowrap;
    overflow-x: auto;
}
.table {
    td  {
        padding: 1rem !important;
        vertical-align: middle;
        border-top: 1px solid #f1f1f1;
        border-radius: 0;
    }
    th{
        padding: 1rem !important;
        vertical-align: middle;
        border-radius: 0;
    }
    tr{
        transition: all ease 0.5s;
        &:hover{
            -webkit-box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 1px 5px 0 rgba(0,0,0,0.12), 0 3px 1px -2px rgba(0,0,0,0.2);
            box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 1px 5px 0 rgba(0,0,0,0.12), 0 3px 1px -2px rgba(0,0,0,0.2);
        }
    }
    .action-icons-anchor{
        margin: 0 7px 0 0;
        display: $inline-block;
    }
}
   

.mb_2em{
    margin-bottom: 2em;
}
.pd0{
    padding: 0 !important;
}
.l10{
    left: 10px !important;
}
// .custom-input {
//     width: 100% ;
//     -webkit-box-sizing: border-box !important; /* Safari/Chrome, other WebKit */
//     -moz-box-sizing: border-box !important;    /* Firefox, other Gecko */
//     box-sizing: border-box !important;         /* Opera/IE 8+ */
//     padding: 10px !important;
//     border-radius: 4px !important;
//     border: 1px solid #f1f1f1 !important;
// }
// .custom-label{
//     left: 21px !important;
//     .active{
//         top: -8px !important;
//     }
// }
input:not([type]):focus:not([readonly]), input[type=text]:not(.browser-default):focus:not([readonly]), input[type=password]:not(.browser-default):focus:not([readonly]), input[type=email]:not(.browser-default):focus:not([readonly]), input[type=url]:not(.browser-default):focus:not([readonly]), input[type=time]:not(.browser-default):focus:not([readonly]), input[type=date]:not(.browser-default):focus:not([readonly]), input[type=datetime]:not(.browser-default):focus:not([readonly]), input[type=datetime-local]:not(.browser-default):focus:not([readonly]), input[type=tel]:not(.browser-default):focus:not([readonly]), input[type=number]:not(.browser-default):focus:not([readonly]), input[type=search]:not(.browser-default):focus:not([readonly]), textarea.materialize-textarea:focus:not([readonly]) {
    border-bottom: 1px solid $theme-color;
    -webkit-box-shadow: 0 1px 0 0 $theme-color;
    box-shadow: 0 1px 0 0 $theme-color;
}

input:not([type]):focus:not([readonly])+label, input[type=text]:not(.browser-default):focus:not([readonly])+label, input[type=password]:not(.browser-default):focus:not([readonly])+label, input[type=email]:not(.browser-default):focus:not([readonly])+label, input[type=url]:not(.browser-default):focus:not([readonly])+label, input[type=time]:not(.browser-default):focus:not([readonly])+label, input[type=date]:not(.browser-default):focus:not([readonly])+label, input[type=datetime]:not(.browser-default):focus:not([readonly])+label, input[type=datetime-local]:not(.browser-default):focus:not([readonly])+label, input[type=tel]:not(.browser-default):focus:not([readonly])+label, input[type=number]:not(.browser-default):focus:not([readonly])+label, input[type=search]:not(.browser-default):focus:not([readonly])+label, textarea.materialize-textarea:focus:not([readonly])+label {
    color: $black-color;
}
[type="radio"]:checked+label:after, [type="radio"].with-gap:checked+label:after {
    background-color: $theme-color;
}
[type="radio"]:checked+label:after, [type="radio"].with-gap:checked+label:before, [type="radio"].with-gap:checked+label:after {
    border: 2px solid $theme-color;
}

.pagination {
    li.active{

        background-color: $theme-color;
        padding: 0 5px;

        a{
            font-size: 14px;
        }
    }
    li.disabled{

        a{
            font-size: 14px;
        }
    } 
}

.complete-card{
    padding: 0;

    .card-header{
        background: $darkshadetwo;
        padding: 1.5em;
        border-top-right-radius: 7px;
        border-top-left-radius: 7px;
        position: $relative;

        .avatar-otr{
            position: $absolute;
            display: $inline-block;
            right: 10px;
            top: -14px;

            img{
                transition: all ease 0.5s;

                &:hover{
                    box-shadow: 0 4px 5px 0 rgba(84, 88, 218, 0.37), 0 1px 10px 0 rgba(83, 88, 217, 0.45), 0 2px 4px -1px rgba(89, 88, 218, 0.42);
                }
            }
            
        }
        p{
            margin: 0;
            font-size: 16px;
            line-height: 30px;
        }
    }
    .card-footer{
        background: $darkshadetwo;
        padding: 1.5em;
        position: $relative;
        a.theme-color{
            display: $inline-block;

            i{
                font-size: 30px;
                line-height: 40px;
            }
            span{
                position: $absolute;
                display: $inline-block;
                margin: 9px 0 0 9px;
                color: $black-color;
            }
        }
    }
}
.file-field {

    .btn, .btn-large{
        border: 2px dashed #5c58d9;
        background: transparent;
        color: #000;
        font-weight: 500;
        box-shadow: none;
    }
} 
#sidenav-overlay{
    z-index: 888;
}